html,
body{
   height: 100%;
}

.main{
    flex-grow: 1 ;
}

body{
    display: flex;
    flex-direction: column;
    @extend %rubik-400;
}

.container-wide{
    margin: 0 auto;
    max-width: 2000px;
    padding: 0 15px;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px; 
}