@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header__inner{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    @extend %rubik-500;
}

.logo{
    display: flex;
    align-items: flex-end;
    position: relative;
    color:$default;
    &-text{
        position: absolute;
        font-size: 36px;
        top:8%;
        left: 55px;
    }
}

.menu{
    padding-left: 100px;
    &__list{
        display: flex;
    }

    &__list-link{
        color:$default;
    }

    &__list-item+&__list-item{
        margin-left: 30px;
    }
}

.user-nav{
    display: flex;

    &__search,&__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #edf1f4;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    &__menu{
        background-color: $gray;  
    }
        
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $accent;
        border-radius: 25px;
        width: 160px;
        margin: 0 20px;
        &:before{
            position:absolute;
            content: "";
            height: 32px;
            width: 1px;
            background-color: #fde7d3;
        }
    }

    &__link{
       position: relative; 
    }

    &__num{
        position: absolute;
        top: -9px;
        right: -9px;
        background-color: #fff;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        color:#243f4d;
        @extend %dmsans-400;
        font-size: 10px;
    }
}

.footer{
    color:#7b7b7b;
    font-size: 14px;
    & a{
        color:#7b7b7b;
        font-size: 14px;
        line-height: 32px;
    }
}

.footer-top{
    display: flex;
    justify-content:space-between;
    padding: 80px 0 70px;
    border-bottom: 1px solid #dae4e9;

    &__item{
        max-width: 200px;
    }

    &__info a{
        line-height: 24px;
        margin-bottom: 12px;
        display: block;
    }

    &__logo{
        margin-bottom: 25px;    
    }

    &__title{
        padding-top: 20px;
        text-transform: uppercase;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 15px;
        color:#1f2044;
    }

    &__form{
        max-width: 270px;
    }

    &__text{
        margin-bottom: 35px;
        line-height: 24px;
    } 
}

.form{
    @extend %dmsans-500;
    display: flex;
    &__input{
        border:none;
        background-color: $accent-liht;
        max-width: 170px;
        padding: 9px 16px 12px;
        &::placeholder{
            font-size: 12px;
            color: #234969; 
        }
    }

    &__btn{
        padding: 10px 12px;
        border:none;
        background-color:$gray;
        max-width: 100px;
        width: 100%;
        color: #fff;
        cursor: pointer;
    }
}

.footer-bottom{
    height: 90px;
    display: flex;
    justify-content:space-between;
    align-items: center;

    &__nav{
        display: flex;
    }

    &__item+&__item{
        padding-left: 15px;
        margin-left: 13px;
        position: relative;
        &::before{
            font-size: 20px;
            content: '|';
            position: absolute;
            transform: translateY(-60%);
            top: 50%;
            left: 0;
        }
    }
}

.slider-content{
    padding: 210px 0 280px;
    background-color: $accent;
    background-image: url('../images/slider-bg.png');
    background-repeat: no-repeat;
    background-position: 78% 41%;
    &__item{
        display: flex !important;
        padding-left: 320px;
    }
    
    &__info{
        padding-right: 140px;
    }

    &__title{
        @extend %rubik-500;
        font-size: 72px;
        line-height: 70px;
        color:#243f4d;
        max-width: 420px;
        margin-bottom: 35px;
    }

    &__descr{
        font-size: 18px;
        line-height: 30px;
        color: $default;
        max-width:370px;
        margin-bottom: 35px;
    }

    &__link{
        color:#fff;
        font-size: 15px;
        line-height: 12px;
        background-color: $gray;
        padding: 20px 100px 23px 23px;
        display: inline-block;
        position: relative;

        &::after{
            position: absolute;
            right: 23px;
            content: '';
            width: 22px;
            height: 9px;
            background-image: url('../images/icons/arrow.svg');
        }
    }

    &__img{
        width: 640px;
        height: 340px;
        
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

.slick-dots{
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex ;
    align-items: flex-end;
    button{
        border-radius: 50%;
        border: none;
        background-color: #fde3cc;
        color:#243f4d;
        font-size: 11px;
        line-height: 30px;
        text-align: center;
        height: 30px;
        width: 30px;
    }

    li+li{
        margin-left: 8px;
    }
}

.slick-active{
    button{
        background-color: #fff;
    } 
}

.slider-descr{
    background-color:$accent-liht ;
    padding: 40px 0;
    display: flex;
    justify-content:space-around;
    
    &__item{
        max-width: 370px;
        padding-left: 100px;
    }

    &__title{
        color: #414141;
        font-size: 18px;
        line-height:40px;
        @extend %dmsans-700;
    }

    &__text{
        font-size: 16px;
        line-height: 30px;
        color:#585858;
    }

    .delivery,
    .on7,
    .payment{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 10px;
            left: 20px;
        }
    }

    .delivery{
        &::before{
            width: 54px;
            height: 36px;
            background-image: url('../images/delivery.svg');
            
        }
    }

    .on7{  
        &::before{  
            width: 51px;
            height: 53px; 
            background-image: url('../images/24on7.svg');
        }
    }

    .payment{  
        &::before{  
            width: 51px;
            height: 53px; 
            background-image: url('../images/payment.svg');
        }
    }
}

@import 'media';