@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header__inner{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    @extend %rubik-500;
}

.logo{
    display: flex;
    align-items: flex-end;
    position: relative;
    
    &-text{
        position: absolute;
        font-size: 36px;
        top:8%;
        left: 55px;
        color:$default;
    }
}

.menu{
    padding-left: 100px;
    &__list{
        display: flex;
    }

    &__list-link{
        color:$default;
    }

    &__list-item+&__list-item{
        margin-left: 30px;
    }
}

.user-nav{
    display: flex;

    &__search,&__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #edf1f4;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    &__menu{
        background-color: $gray;  
    }
        
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $accent;
        border-radius: 25px;
        width: 160px;
        margin: 0 20px;
        &:before{
            position:absolute;
            content: "";
            height: 32px;
            width: 1px;
            background-color: #fde7d3;
        }
    }

    &__link{
       position: relative; 
    }

    &__num{
        position: absolute;
        top: -9px;
        right: -9px;
        background-color: #fff;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        color:#243f4d;
        @extend %dmsans-400;
        font-size: 10px;
    }
}

.footer{
    color:#7b7b7b;
    font-size: 14px;
    & a{
        color:#7b7b7b;
        font-size: 14px;
        line-height: 32px;
    }
}

.footer-top{
    display: flex;
    justify-content:space-between;
    padding: 80px 0 70px;
    border-bottom: 1px solid #dae4e9;

    &__item{
        max-width: 200px;
    }

    &__info a{
        line-height: 24px;
        margin-bottom: 12px;
        display: block;
    }

    &__logo{
        margin-bottom: 25px;    
    }

    &__title{
        padding-top: 20px;
        text-transform: uppercase;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 15px;
        color:#1f2044;
    }

    &__form{
        max-width: 270px;
    }

    &__text{
        margin-bottom: 35px;
        line-height: 24px;
    } 
}

.form{
    @extend %dmsans-500;
    display: flex;
    &__input{
        border:none;
        background-color: $accent-liht;
        max-width: 170px;
        padding: 9px 16px 12px;
        &::placeholder{
            font-size: 12px;
            color: #234969; 
        }
    }

    &__btn{
        padding: 10px 12px;
        border:none;
        background-color:$gray;
        max-width: 100px;
        width: 100%;
        color: #fff;
        cursor: pointer;
    }
}

.footer-bottom{
    height: 90px;
    display: flex;
    justify-content:space-between;
    align-items: center;

    &__nav{
        display: flex;
    }

    &__item+&__item{
        padding-left: 15px;
        margin-left: 13px;
        position: relative;
        &::before{
            font-size: 20px;
            content: '|';
            position: absolute;
            transform: translateY(-60%);
            top: 50%;
            left: 0;
        }
    }
}

.slider-content{
    padding: 210px 0 280px;
    background-color: $accent;
    background-image: url('../images/slider-bg.png');
    background-repeat: no-repeat;
    background-position: 85% 41%;
    &__item{
        display: flex !important;
        padding-left: 300px;
    }
    
    &__info{
        padding-right: 140px;
    }

    &__title{
        @extend %rubik-500;
        font-size: 72px;
        line-height: 70px;
        color:#243f4d;
        max-width: 420px;
        margin-bottom: 35px;
    }

    &__descr{
        font-size: 18px;
        line-height: 30px;
        color: $default;
        max-width:370px;
        margin-bottom: 35px;
    }

    &__link{
        color:#fff;
        font-size: 15px;
        line-height: 12px;
        background-color: $gray;
        padding: 20px 100px 23px 23px;
        display: inline-block;
        position: relative;

        &::after{
            position: absolute;
            right: 23px;
            content: '';
            width: 22px;
            height: 9px;
            background-image: url('../images/icons/arrow.svg');
        }
    }

    &__link-img{
        width: 640px;
        height: 340px;    
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

.slick-dots{
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex ;
    align-items: flex-end;
    button{
        border-radius: 50%;
        border: none;
        background-color: #fde3cc;
        color:#243f4d;
        font-size: 11px;
        line-height: 30px;
        text-align: center;
        height: 30px;
        width: 30px;
    }

    li+li{
        margin-left: 8px;
    }
}

.slick-active{
    button{
        background-color: #fff;
    } 
}

.slider-descr{
    background-color:$accent-liht ;
    padding: 40px 0;
    display: flex;
    justify-content:space-around;
    
    &__item{
        max-width: 370px;
        padding-left: 100px;
    }

    &__title{
        color: #414141;
        font-size: 18px;
        line-height:40px;
        @extend %dmsans-700;
    }

    &__text{
        font-size: 16px;
        line-height: 30px;
        color:#585858;
    }

    .delivery,
    .on7,
    .payment{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 10px;
            left: 20px;
        }
    }

    .delivery{
        &::before{
            width: 54px;
            height: 36px;
            background-image: url('../images/delivery.svg');
            
        }
    }

    .on7{  
        &::before{  
            width: 51px;
            height: 53px; 
            background-image: url('../images/24on7.svg');
        }
    }

    .payment{  
        &::before{  
            width: 51px;
            height: 53px; 
            background-image: url('../images/payment.svg');
        }
    }
}

.products{
    padding: 75px 0 185px;
    @extend %dmsans-700;
    
    &__title{
        @extend %title;
        margin-bottom: 35px;
    }

    &__filter{
        text-align: center;
        margin-bottom: 80px;
    }

    &__button{
        border: none;
        background-color: transparent;
        color:#8b8b8b;
        transition: all .2s;
        &:hover{
          color:$title;  
        }
    }

    &__button+&__button{
        margin-left: 30px;
    }

    &__items{
        display: grid;
        grid-template-columns:repeat(4,1fr);
        grid-template-rows:repeat(2,1fr);
        min-height: 800px;
        grid-row-gap:40px;
        grid-column-gap:30px;
    }

    &__item{
        border-radius: 10px;
        padding: 30px 25px 40px;
        max-width: 270px;
        min-height: 380px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        position: relative;
        text-align: center;
        &:hover .products__menu{
            opacity: 1;
        }
        
    }
      

    &__img{
        display: block;
        height: 210px;
        object-fit: contain;
        object-position: center center;
        width: 100%; 
        margin-bottom: 60px; 
    }

    &__menu{
        opacity: 0;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        display: flex;
        transition: all .3s;
        a+a{
            margin-left: 13px;
        }  
    }

    
    &__menu-item{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        width: 46px;
        border-radius: 50%;
        background-color: #fff;
        transition: all .3s;
        &:hover{
            background-color: $gray;  
            path{
                fill:#fff; 
            } 
        }   
    }

    &__type{
        color:#243f4d;  
        margin-bottom: 10px;
        @extend %dmsans-500; 
        
    }

    &__pric{
        color:#a3bbc8;
    }
    &__text{
        display: none;
    }
    &__star{
        display: none;
    }
    &__btn{
        transition: all .3s;
        opacity: 0;
    }
    
}

.products__item.shop-list__item{
    border-radius: 0;
    max-width: 100%;
    min-height: 500px;
    box-shadow: none;
    position: relative;
    text-align: left;
    padding: 0;
    display: flex;
    &:hover{
        .products__btn{
            opacity: 1;
            margin-top: 0;
        }
        .products__menu{
            opacity: 0;
            margin-top: -50px;
        }
    }
    .products__img-wrapper{
        padding: 75px 30px;
        margin-right: 60px;
        width: 370px;
        height: 500px;
        border: 2px solid #f2f2f2;
    }
    .products__img{
        height: 100%;
    }
    .products__content{
        padding-top: 90px;
    }
    .products__type{
        font-size: 40px;
        color:#333;
        @extend %rubik-400;
        margin-bottom: 25px;
    }
    .products__star{
        display: block;
        margin-bottom: 40px;
    }
    .products__pric{
        color:#333;
        font-size: 30px;
        margin-bottom: 35px; 
    }
    .products__text{
        color:$blue;
        line-height: 30px;
        max-width: 440px;
        display: block;
        margin-bottom: 20px;
    }
    .products__menu{
        opacity: 1;
        position: static;
        transform: translateX(0);
    }
    .products__menu-item{
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        align-items: center;
        justify-content: center;
        border-radius: 0;
        background-color: #fff;
        transition: all .3s;  
    }
    .products__cart.products__menu-item{
        margin-left: 0;
    }
    .products__search{
        display: none;
        
    }
    .products__cart{
        background-color: $gray;  
        path{
            fill:#fff; 
        } 
    }
    .products__btn{
        margin-top: -50px;
        display:block;
        background-color: $gray;
        color:#fff;
        border-radius: 4px;
        text-transform: uppercase;
        padding: 18px 0;
        text-align: center;
        width: 220px;
        font-size: 15px;
    }
    
}
.pagination.pagination-list{
    justify-content: start;
}

.futures{
    padding: 100px 0;
    &__items{
        display: flex;
        justify-content: space-between;
    }
}

.futures-item{   
    max-width: 870px;
    width: 100%;
    padding: 80px 0 100px 385px;
    min-height: 390px;
    background-color: #feefe2;
    @extend %rubik-500;
    color:#243f4d;
    position: relative;

    &__img{
        position: absolute;
        width: 250px;
        height: 405px;
        background-repeat: no-repeat;
        background-position: center;
        top: -110px;
        left: 120px;
    }

    &__title{
        max-width:300px;
        font-size: 26px;
        line-height: 32px;
        @extend %dmsans-700;
        margin-bottom: 10px;
    }

    &__text{
        max-width:360px;
        line-height: 30px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    &__link{
        display: inline-block;
        color:$default;
        line-height: 12px;
        font-size: 15px;
        padding: 20px 80px 20px 18px;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        &::after{
            position: absolute;
            content: '';
            background-image: url('../images/icons/arrow-gray.svg');
            width: 22px;
            height: 9px;
            right: 20px;
        }
    }
}

.design{
    @extend %dmsans-700;
    margin-bottom: 120px;

    &__title{
        @extend %title;
        margin-bottom: 35px;
    }

    &__filter{
        text-align: center;
        margin-bottom: 80px;
    }

    &__btn{
        border: none;
        background-color: transparent;
        color:#8b8b8b;
        transition: all .2s;
        &:hover{
          color:$title;  
        }
    }

    &__btn+&__btn{
        margin-left: 30px;
    }

    &__items{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows:repeat(2,1fr);
        min-height: 520px;
        grid-row-gap:35px;
        grid-column-gap:30px;
    }

}

.design-item{  
    &__link{
        display: block;
        padding: 40px 0 0 30px;
        background-color: #f8f8f8;
        background-repeat: no-repeat;  
        background-position: 90% 40%;
        width: 100%;
        height: 100%;
    }
    

    &__title{
        max-width:170px;
        color:$title;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 10px;
    }

    &__descr{
        font-size: 16px;
        color:$gray;
    }
    
}

.video{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.blog{
    padding-top: 115px;
    @extend %dmsans-500;   

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 50px;
    }

    &__title{
        @extend %title;
    }

    &__link{
        color:#262626;
        @extend %dmsans-700;
        position: relative;
        margin-right: 25px;
        &::after{
            position: absolute;
            content: '';
            width: 6px;
            height: 11px;
            background-image: url('../images/icons/arrowmini.svg');
            right: -25px;
            top: 5px;
        }
    }

    &__items{
        display: flex;
        justify-content:space-between;
    }

    &__item{
        position: relative;
        max-width: 370px;
        border-radius: 5px;
    }

    &__img-link{
        img{
            height: 250px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__type{
        position: absolute;
        top: 235px;
        left: 30px;
        padding: 8px 30px;
        text-transform: uppercase;
        color:#fff;
        font-size: 14px;
        line-height: 20px;
        background-color: $gray;
        border-radius: 15px;
        @extend %poppins-700;
    }

    &__info{
        background-color: #fff;
        padding: 35px 30px 15px;
    }

    &__text{
        min-height: 88px;
        padding-bottom: 15px;
        font-size: 18px;
        color:#262626;
        border-bottom: 1px solid #e0e0e0;
    }

    &__descr{
        padding-top: 15px;
        display: flex;
        text-transform: uppercase;
        @extend %rubik-400;
        font-size: 12px;
        line-height: 30px;
        color:#222933;
    }

    &__author-link{
        margin-left: 40px;
        color:#222933;
    }
}

.sponsor{
    background-color: $accent-liht;
    margin-top: -183px;
    padding-top: 183px;
    &__items{
        padding: 90px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.sponsor-shop{
    margin-top: 0px;
    padding-top: 0px;
}

.top{
    background-color: #edf1f4;

    &__inner{
        padding: 35px 0;
        text-align: center;
    }

    &__title{
        @extend %rubik-300;
        font-size: 36px;
        line-height: 24px;
        color:#222933;
        margin-bottom: 10px;
    }   
}

.breadcrumbs{
    &__items{
        display: flex;
        justify-content: center;
    }

    &__item{
        padding: 0 10px;
        position: relative;
        &::after{
            position: absolute;
            content: '/';
            color:#888c91;
            font-size: 14px;
            line-height: 24px; 
            right:-4px; 
        }
        &:last-child{
            &::after{
                display: none;
            }
        }
    }

    &__link{
        color:#888c91;
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;       
    }
}

.experience{
    padding: 120px 0;

    &__inner{
        max-width: 1170px;
        display: flex;
        justify-content: space-between;
    }

    &__content{
        color:$blue;
        max-width: 560px;
        padding-top: 85px;
    }

    &__info{
        display: flex;
        margin-bottom: 45px;
    }

    &__num{
        font-size:140px;
        line-height: 32px;
        color:$gray;
        @extend %rubik-700;  
        margin-right: 30px;      
    }

    &__items{
        margin-top: -23px;
    }

    &__item{
        font-size: 16px;
        line-height: 32px;
    }

    &__title{
        @extend %title-child;
        margin-bottom: 50px;
    }

    &__text{
        @extend %text;
        padding-bottom: 60px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 500px;
            height: 3px;
            background-color: #e6eaf0;
            left: 0;
            bottom: 0;
        }
    }
}

.experience-statistics{
    display: flex;
    &__item{
        padding: 40px 35px 0 90px;
        position: relative;       
    }

    &__item+&__item{
        &::before{
            position: absolute;
            content: '';
            width: 1px;
            height: 80px;
            background-color:#e6eaf0 ;
            left: 0px;
            top: 30px;
        }
    }

    &__num{
        font-size: 36px;
        line-height: 38px;
        @extend %dmsans-700;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            left: -65px;
            top: 10px;
        }
    }

    &__sheet{
        &::before{
            width: 36px;
            height: 38px;
            background-image: url('../images/icons/sheet.svg');
        }

    }

    &__projects{
        &::before{
            width: 43px;
            height: 39px;
            background-image: url('../images/icons/speaker.svg');
        }

    }

    &__medal{
        &::before{
            width: 42px;
            height: 40px;
            background-image: url('../images/icons/medal.svg');
        }

    }

    &__descr{
        padding-left: 5px;
        line-height: 17px;
        font-size: 16px;
        color: #4c4c4c;
    }
}

.statistics{
    padding: 85px 0;
    background-color: $accent;
    @extend %dmsans-700;
    line-height: 32px;
    color:$blue;
    text-align: center;

    &__items{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__svg{
        min-height: 65px;
    }

    &__num{
        padding: 10px 0;
        font-size: 36px;
    }

    &__type{
        font-size: 18px;
    }
}

.team{
    padding: 120px 0 80px;
    
    &__inner{
        display: flex;
        justify-content: space-between;
    }

    &__content{
        max-width:300px;
    }

    &__title{
       @extend %title-child;
       margin-bottom: 30px;
    }   

    &__descr{
        @extend %text;
        margin-bottom: 30px;
    }

    &__link{
        @extend %poppins-600;
        display: inline-block;
        color: #fff;
        line-height: 12px;
        font-size: 15px;
        padding: 20px 60px 20px 18px;
        background-color: $gray;
        border-radius: 7px;
        position: relative;
        cursor: pointer;
        &::after{
            position: absolute;
            content: "";
            background-image: url('../images/icons/arrow-white.svg');
            width: 15px;
            height: 11px;
            right: 25px;
            top: 21px;
        }
    }

    &__items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }
}

.team-item{
    max-width: 370px;

    &__img{
        object-fit: cover;
    }

    &__info{
        max-width: 325px;
        position: relative;
        top: -40px;
        padding: 30px 25px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    }

    &__name{
        color:$default;
        font-size: 22px;
        line-height: 26px;
        @extend %dmsans-700;
        margin-bottom: 5px;
    }

    &__position{
        font-size: 16px;
        line-height: 30px;
        color:#565872;
    }

    &__inst-link,
    &__google-link{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    
    &__google-link{
        margin-left: 3px;
    }

      
}

.blog__page,
.sponsor__page{
    padding-top: 0;
    margin-top: 0;
}

.terms{
    padding: 115px 0 60px;
    color:$blue;
    line-height: 30px;

    &__title{
        line-height: 40px;
        font-size: 24px;
        @extend %rubik-500;  
        margin-bottom: 25px;     
    }

    &__list{
        list-style-type: decimal-leading-zero;
    }

    &__item{
        padding-left: 5px;
        margin-left: 30px;
    }

    &__text{
        margin-bottom: 50px;
    }
}

.modal{
    padding: 115px 0;
    max-width:470px;
    margin: 0 auto;
    font-size: 14px;
    color:$default;

    &__input{
        display: block;
        width: 100%;
        height: 60px;
        padding:0 15px;
        margin: 10px 0 28px;
        border: 2px solid #f6f6f6;
    }

    &__btn{
        padding: 19px 0;
        width: 100%;
        border:none;
        background-color: $gray;
        color:#fff;
        font-size: 18px;
        @extend %rubik-500;
        margin-bottom: 35px;
        cursor: pointer;
    }

    &__descr{
        display: flex;
        justify-content: space-between;
        padding-bottom: 28px;
        border-bottom: 2px solid #f6f6f6;
    }

    &__link-repassword{
        color:$default;
    }

    &__text{
        margin: 28px 0;
        text-align: center;  
    }

    &__link{
        cursor: pointer;
        border:2px solid $gray;
        color: $blue;
        font-size: 18px;
        @extend %rubik-500;
        padding: 17px 0;
        width: 100%;
        display: block;
        text-align: center;
    }
}

.shop{
    padding: 120px 0;
    &__inner{
        display: flex;
    }
}

.shop-filters{
    max-width: 270px;
    margin-right: 30px;
}

.shop-filter{
    margin-bottom: 60px;
    color:$blue;
    &__title{
        text-transform: uppercase;
        @extend %dmsans-700;
        font-size: 18px;
        position: relative;
        margin-bottom: 25px;
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 15px;
            background-color: $gray;
            width: 38px;
            height: 3px;
            border-radius: 1px;
        }
    }
}

.filter-category{
    label{
        display: block;
        margin-bottom: 5px;
    }
    &__input{
        @extend %checkbox;
        &:checked{
            & + .filter-category__checkbox{
                background-color: #edf1f4;
            }
        }
    }
    &__checkbox{
        transition: all .3s;
        display: block;
        line-height: 43px;
        padding: 0 15px;       
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: 20px;
            top: 18px;
            width: 7px;
            height: 11px;
            background-repeat: no-repeat;
            background-image: url('../images/icons/arrowmini.svg');
        }
    }
}

.filter-price{
    &__title{
        margin-bottom: 40px;
    }
    &__box{
        display: flex;
        justify-content: space-between;
    }
}

.irs--flat{
    height: 20px;
}

.irs--flat .irs-line{
    top:0;
    height: 3px;  
    background: #c2d2db;  
}

.irs--flat .irs-bar{
    top:0px;
    background: #a3bbc8;  
    height: 4px;
}

.irs--flat .irs-handle{
    top: -6px;
}

.irs--flat .irs-handle>i:first-child{
    height: 15px;
    width: 15px;
    background-color:#a3bbc8;  
}

.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
    background-color:#a3bbc8;  
}

.js-input{
   &-from,
   &-to{
       @extend %rubik-400;
       color: #243f4d;
       font-size: 14px;
       width: 40%;      
       border: none;
       background-color: transparent;
   } 
   &-to{
        text-align: right;
   }
}

.irs-max,.irs-min,.irs-from,.irs-to,.irs-single{
    display: none;
}

.filter-brand{
    label{
        display: block;
        margin-bottom: 5px;
    }
    &__input{
        @extend %checkbox;
        &:checked{
            & + .filter-brand__checkbox{
                background-color: #edf1f4;
                span{
                    color: $blue;
                }               
            }
        }
    }
    &__checkbox{
        transition: all .3s;
        display: flex;
        justify-content: space-between;
        line-height: 43px;
        padding: 0 15px;       
        border-radius: 4px;
        cursor: pointer;
    }  
    &__num{
        color: #b3b3b3;
    }
}

.filter-product{
    &__item{
        margin-bottom: 25px;
        display: flex;
    }
    &__item-img{
        width: 70px;
        height: 70px;
        border: 3px solid #f2f2f2;
        object-fit: contain;
        object-position: center center;
        margin-right: 20px;
    }
    &__item-title{
        color:#333333;
        font-size: 14px;
        line-height: 16px;
        display: block;
        margin-bottom: 10px;
    }
    &__item-price{
        font-size: 15px;
        line-height: 27px;
    }
}

.jq-ry-container{
    padding: 0;
    margin-bottom: 10px;
}

.shop-product{
    &__items{
        display: grid;  
        grid-template-columns: repeat(3, 1fr);  
        grid-template-rows: repeat(4, 1fr);
        min-height: 1640px;
        grid-row-gap: 40px;
        grid-column-gap: 30px;
        min-width: 870px;
        
        margin-bottom: 110px;
    }
}   

.pagination{
    display: flex;
    justify-content: center;
    &__list{
        display: flex;
    }
    &__item,
    &__next{
        transition: all .3s;
        min-width: 50px;
        height: 50px;
        border: 1px solid $gray;
        &:hover{
            background-color: $gray;
            color:#fff;
            a{
                color:#fff;
            }
        }
    }
    &__item--active{
        background-color: $gray;
        color:#fff;
        a{
            color:#fff;
        }
    }
    &__item{
        margin-right: 15px;
    }
    &__link,
    &__next-link{
        display: block;
        line-height: 50px;
        text-align: center;
        color:$blue;
    }
    &__next-link{
        padding: 0 20px;
    }
}

.shop-list{
    &__item{
        margin-bottom: 40px;
    }
}
.product-detalis{
    padding: 120px 0 100px;
    &__inner{
        display: flex;  
    }
    &__slide{
        min-width: 550px;
        display: flex;
        justify-content: space-between;
        margin-right: 60px;
    }
    &__info-title{
        padding: 25px 0 20px;
        font-size: 40px;
        color:#333;
    }
    &__star{
        margin-bottom: 35px;
    }
    &__price{
        color:#333;
        font-size: 30px;
        margin-bottom: 35px;
    }
    &__text{
        max-width: 550px;
        line-height: 30px;
        color: $blue;
        margin-bottom: 25px;
    }
    &__box{
        margin-bottom: 45px;
    }
    &__input{
        margin-right: 15px;
        min-width: 148px;
        height: 53px;
    }
    &__btn{
        display: inline-block;
        color: #fff;
        font-size: 15px;
        padding: 18px 50px;
        background-color: #a3bbc8;
        border-radius: 4px;
        cursor: pointer;
    }
    &__list-item{
        display: flex;
       line-height: 30px;
       color: $blue;
    }
    &__list-text{
        margin-left: 4px;
    }
}

.jq-number{
    padding: 0;
}

.jq-number__field {
    border: 1px solid $gray;
    box-shadow: none;
    border-radius: 0;
    min-width: 148px;
    height: 53px;
    input{
        text-align: center;
        font:15px Rubik-Regular;   
    }
}

.jq-number__spin{
    width: 50px;
    top: 0;
    bottom: 0;
    height: 100%;
    border:none;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    &:hover{
        background: transparent;
    }   
}

.jq-number__spin.minus {
    left:0;
    border-right: 1px solid $gray;
    &::after{
        top: 17px;
        left: 21px;
        content: '-';
        border: none;
    }   
}

.jq-number__spin.plus{
    right: 0;
    border-left: 1px solid $gray;
    &::after{
        top: 16px;
        left: 19px;
        content: '+';
        border: none;
    }
}



.product-slide{
    &__small{
        width: 140px;
    }
    &__small-item{
        margin-bottom: 18px;
        width: 140px;
        height: 160px;
        border: 2px solid #f2f2f2;
        img{
            width: 136px;
            height: 156px;
            object-fit: contain; 
        }
    }
    &__big{
        max-height: 530px;
        width: 390px;
        border: 2px solid #f2f2f2;
        img{
            width: 386px;
            max-height: 526px;
            object-fit:contain; 
        }
    }
}

.descr{
    margin-bottom: 85px;
    &__top{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__top-link{
        font-size: 18px;
        @extend %rubik-500;
        border-radius: 4px;
        min-width: 240px;
        text-align: center;
        background-color: #edf1f4;
        color:$blue;
        line-height: 53px;
        padding: 0 10px;
        &+&{
            margin-left: 13px;
        }
    }
    &__top-link--active{
        background-color: #a3bbc8;
        color:#fff;
    }
    &__bottom-item{
        line-height: 30px;
        color:$blue;
        display: none;
    }
    &__bottom-item--active{
        display: block;
    }
}

.related{
    margin-bottom: 85px;
    &__title{
        @extend %dmsans-700;
        font-size: 36px;
        color:$blue;
        margin-bottom: 70px;
    }

    &__slider-wrapper{
        margin: 0 auto;
        max-width: 1220px;
        padding: 35px 25px; 
        overflow: hidden;
    }

    .slick-list{
        overflow: visible;
    }
    
    .slick-slide{
        opacity: 0;
        transition: all .3s;
    }
    
    .slick-active{
        opacity: 1;
    }
    
    .slick-prev,
    .slick-next{
        transition: all .3s;
        border:2px solid #a3bbc8;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        background-color: transparent;
        top:-125px;    
        position: absolute;
        font-size: 0;
        &::before{
            position: absolute;
            content: '';
            width: 22px;
            height: 9px;
            right: 12px;
            top:19px;
        }
    }
    
    .slick-disabled{
       border-color: #edf1f4; 
    }
    
    .slick-prev{
        right: 70px;
        &::before{      
            background-image: url('../images/icons/arrow-gray-left.svg');     
        }
    }
    
    .slick-next{
        right: 0;
        &::before{      
            background-image: url('../images/icons/arrow-gray-right.svg');     
        }
    }
    
}



@import 'media';